{# section.tex.jinja2: renders a single resume section #}
{% set sitems = sec.get("items", []) %}
{% if sec.type == "experience" %}
\cvsection{ {{ sec.title }} }
{% for exp in sitems %}
{% if exp.is_bottom %}
\expheader{ {{ exp.title }} }{ {{ exp.subtitle }} }{ {{ exp.years }} }
{% elif exp.is_inline %}
\expheaderinline{ {{ exp.title }} }{ {{ exp.subtitle }} }{ {{ exp.years }} }
{% else %}
\expheadermuted{ {{ exp.title }} }{ {{ exp.subtitle }} }{ {{ exp.years }} }
{% endif %}
{% if exp.bullets %}
\begin{itemize}[leftmargin= {{ bullet_indent }} pt,itemsep= {{ bullet_gap }} pt,topsep= {{ bullet_topsep }} pt,parsep=0pt,partopsep=0pt,label=\textbullet]
{% for b in exp.bullets %}
  \item {\fontsize{ {{ body_size }} }{ {{ body_leading }} }\selectfont {{ b }} }
{% endfor %}
\end{itemize}
{% endif %}
{% endfor %}

{% elif sec.type == "education" %}
\cvsection{ {{ sec.title }} }
{% for edu in sitems %}
{% if edu.is_bottom %}
\expheader{ {{ edu.institution }} }{ {{ edu.degree }} }{ {{ edu.years }} }
{% elif edu.is_inline %}
\expheaderinline{ {{ edu.institution }} }{ {{ edu.degree }} }{ {{ edu.years }} }
{% else %}
\expheadermuted{ {{ edu.institution }} }{ {{ edu.degree }} }{ {{ edu.years }} }
{% endif %}
{% if edu.gpa %}
\noindent{\fontsize{ {{ meta_size }} }{ {{ meta_leading }} }\selectfont\color{meta} GPA: {{ edu.gpa }} }\par
{% endif %}
{% if edu.description %}
\begin{itemize}[leftmargin= {{ bullet_indent }} pt,itemsep= {{ bullet_gap }} pt,topsep= {{ bullet_topsep }} pt,parsep=0pt,partopsep=0pt,label=\textbullet]
{% for d in edu.description %}
  \item {\fontsize{ {{ body_size }} }{ {{ body_leading }} }\selectfont {{ d }} }
{% endfor %}
\end{itemize}
{% endif %}
{% endfor %}

{% elif sec.type == "tags" %}
\cvsection{ {{ sec.title }} }
{% for tag in sitems %}\cvtag{ {{ tag }} }\hspace{ {{ tag_gap }} pt}{% endfor %}\par

{% elif sec.type == "text" %}
\cvsection{ {{ sec.title }} }
{\fontsize{ {{ body_size }} }{ {{ body_leading }} }\selectfont {{ sec.content }} }\par

{% elif sec.type == "list" %}
\cvsection{ {{ sec.title }} }
\begin{itemize}[leftmargin= {{ bullet_indent }} pt,itemsep= {{ bullet_gap }} pt,topsep= {{ bullet_topsep }} pt,parsep=0pt,partopsep=0pt,label=\textbullet]
{% for item in sitems %}
  \item {\fontsize{ {{ body_size }} }{ {{ body_leading }} }\selectfont {{ item }} }
{% endfor %}
\end{itemize}
{% endif %}
